<h1>Listing ad_views</h1>

<table>
  <tr>
    <th>Page</th>
    <th>User type</th>
    <th>Ad</th>
    <th>Advertiser</th>
    <th>Location</th>
    <th>Format</th>
  </tr>

<% @ad_views.each do |ad_view| %>
  <tr>
    <td><%=h ad_view.page %></td>
    <td><%=h ad_view.user_type %></td>
    <td><%=h ad_view.ad_id %></td>
    <td><%=h ad_view.advertiser_id %></td>
    <td><%=h ad_view.location %></td>
    <td><%=h ad_view.format %></td>
    <td><%= link_to 'Show', ad_view %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ad_view', new_ad_view_path %>