<h1>New advertiser</h1>

<%= form_for(@advertiser) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit 'Create' %>
	</p>
<% end %>

<%= link_to 'Back', advertisers_path %>